.sub-header {
    color: blue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
}
li {
    color: red;
    background-color: black;
    font-size: small;
}
img {
    height: 200px;
    width: auto;
}

p {
    font-weight: bold;
}